@font-face {
  font-family: 'FuturaPT-Light';
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/FuturaPT-Light.otf')  format('opentype'),
      url('../fonts/FuturaPT-Light.woff') format('woff'), 
      url('../fonts/FuturaPT-Light.ttf')  format('truetype'), 
      url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/FuturaPT-Medium.otf')  format('opentype'),
      url('../fonts/FuturaPT-Medium.woff') format('woff'), 
      url('../fonts/FuturaPT-Medium.ttf')  format('truetype'), 
      url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/FuturaPT-Bold.otf')  format('opentype'),
	   url('../fonts/FuturaPT-Bold.woff') format('woff'),
      url('../fonts/FuturaPT-Bold.ttf')  format('truetype'), 
      url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
       url('../fonts/FuturaPT-Book.woff') format('woff'),
       url('../fonts/FuturaPT-Book.ttf') format('truetype'),
       url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
       url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

