/*management css*/

.staff__member__main
{
    padding: 0;
    
    table
    {
      width:100%;
        
        th,
        td
        {
             padding: 25px 10px;
            
              @include media(normal)
            {
                &{
                    padding: 15px 10px;
                }
            }
            
             &:first-child
            {
                padding-left: 0;
            }
        }
        thead
            {
                border-bottom: 2px solid $borderColor;
                padding: 0 48px;
                display: inline-block;
                width: 100%;
                
                  @include media(normal)
                    {
                        &{
                           padding: 0 28px;
                        }
                    }
                
             th
                {
                    text-transform: uppercase;
                    
                    &:first-child
                    {
                        width: 100px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 60px;
                            }
                        }
                    }
                     &:nth-child(2)
                    {
                        width: 300px;
                        
                       @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                     &:nth-child(3)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                      &:nth-child(4)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                 &:nth-child(5)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                  
                } 
            }

        tbody
        {
            padding: 0 48px;
            display: inline-block;
            width: 100%;
            
            @include media(normal)
                    {
                        &{
                           padding: 0 28px;
                        }
                    }
                
            
            tr
            {
                border-bottom: 1px dotted $blackColor;
                display: inline-block;
                width: 100%;
                
                   td
                        {
                                  &:first-child
                    {
                        width: 100px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 60px;
                            }
                        }
                    }
                     &:nth-child(2)
                    {
                        width: 300px;
                        
                       @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                     &:nth-child(3)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                    &:nth-child(4)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                 &:nth-child(5)
                    {
                        width: 300px;
                        
                        @include media(normal)
                        {
                            &{
                                 width: 200px;
                            }
                        }
                    }
                            
                        }
                
                &:last-child
                {
                    border-bottom: 0;
                }
            }
            
           
        }
    }
    
    span.new-checkbox
    {
        top: -12px;
    }
    
}

.staff__profile__pic
{
            width:150px;
            height: 150px;
            @include border-radius(20px); 
            @include background(center top, cover);
            display: inline-block;

            @include media(normal)
            {
            &{
                width:100px;
                height: 100px;
       }
    }
}

/*staff view*/

.pro__row
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    .pro__left
    {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(100% - 200px);
        
        .staff__profile__pic
        {
            margin-right: 38px;
        }
        .profile__detail
        {
            padding-top: 6px;
             width: calc(100% - 200px);
            display: inline-block;
            
            @include media(normal)
            {
                &{
                    width: calc(100% - 140px);
                }
            }
            
            h3
            {
                font-family: $futuraPT__WBook;
                font-weight: normal;
                font-size: 23px;
                margin-bottom: 17px;
                
                @include media(normal)
                {
                    &{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
            
            p
            {
                margin-bottom: 17px;
                
                 @include media(normal)
                {
                    &{
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                }
                
                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.staff__view__profile
{
    margin-bottom: 30px;
    
     @include media(normal)
              {
                  &{  
                      margin-bottom: 20px;
                  }
                }
    .pro__right 
    {
        select
        {
            &.form-control
            {
                width: 225px;
                border-color:$greyBorder;
                font-size: 16px;
                font-family:$futuraPT__WM;
                font-weight: normal;
                color: $h1Color;
                background-position: 92% 50%;
                padding:6px 22px;
                padding-right: 35px;
                height:47px;
                
                &:focus
                {
                    border-color: $borderColor;
                }
                
              @include media(normal)
              {
                  &{
                    width: 195px;
                    height: 38px;
                  }
                }
            }
        }
    }
}


.staff__task__menu
{
    margin-bottom: 43px;
    
    @include media(normal)
        {
            &{
               margin-bottom: 20px;
            }
        }
    
    a
    {
        padding: 0;
        border-bottom: 2px solid transparent;
        color: $h1Color;
        font-size:20px;
        text-transform: uppercase;
        margin-right: 83px;
        font-family:$futuraPT__WM;
        font-weight: normal;
        letter-spacing: 0.06em;
        padding-bottom: 14px;
        
        &:last-child
        {
            margin-right: 0;
        }
        
        &:hover,
        &.active
        {
             color: $btnBrownColor;
             border-bottom-color:$btnBrownColor;
        }
        
        @include media(normal)
        {
            &{
                padding: 0;
                font-size: 16px;
                margin-right: 50px;
                padding-bottom: 8px;
            }
        }
        
    }
}

.task__coman__bx
{
    margin-bottom: 50px;
    
    &:last-child
    {
        margin-bottom:0;
    }
    
    @include media(normal)
        {
            &{
                margin-bottom: 30px;
            }
        }
    
    
    h2
    {
        margin-bottom: 20px;
        
          @include media(normal)
        {
            &{
                margin-bottom: 10px;
            }
        }
    }
 .table__bx
    {
        overflow: auto;
        width: 100%;
    }
    
table.table_main
    {
        width: 1413px;
        
         @include media(normal)
                {
                    &{
                        width: 1130px;
                    } 
                }
        th,
        td
        {
            &:first-child
            {
                width:127px;
                
                @include media(normal)
                {
                    &{
                        width: 80px;
                    } 
                }
            }
            
            &:nth-child(2)
            {
                width:260px;
                
              @include media(normal)
                {
                    &{
                        width: 200px;
                    } 
                }
            }
           &:nth-child(3)
            {
                width:186px;
                
                 @include media(normal)
                {
                    &{
                        width: 150px;
                    } 
                }
            }
            &:nth-child(4)
            {
                width:340px;
                
                 @include media(normal)
                {
                    &{
                        width: 270px;
                    } 
                }
            }
            &:nth-child(5)
            {
                width:340px;
                
                 @include media(normal)
                {
                    &{
                        width: 270px;
                    } 
                }
            }
            &:nth-child(6)
            {
                width:150px;
            }
        }
        
        .action__btn {
        margin-right: 15px;
            
            @include media(normal)
            {
                &{
                    margin-right: 10px;
                }
            }
      }
    }
}

     .action__btn {
        font-size: 28px;
        color: $btnBrownColor;
            
            &:hover,
            &:focus
            {
                color: $lightBrownType;
            }
            
             @include media(normal)
                {
                    &{
                       font-size: 20px;
                    } 
                }
            }

.dashboard__right__main
{
    .dashboard__right__header
    {
        &.history__header
        {
            &>div
            {
                margin-right: 53px;
                
                @include media(normal)
                        {
                            &{
                              margin-right: 30px;
                            } 
                        }
            }

            &>div:last-child
            {
                margin-right: 0;
            }
            
            .notification_bx
            {
                a
                {
                    font-size: 36px;
                    color: $lightBrownType;
                    
                    &:hover
                    {
                        color: $btnBrownColor;
                    }
                    
                    @include media(normal)
                        {
                            &{
                               font-size: 26px;
                            } 
                        }
                }
            }
        }
    }
  
}


.history__task
{
    table.table_main 
    {
        thead
        {
            border-top: 0;
        }
    }
}

.leave__app_list
{
    align-items: center;
    
    .leave__app__content {
        width: calc(100% - 110px);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 10px;
        
        .coman__list_content
        {
            h3
            {
                font-family: $futuraPT__WBook;
                font-weight: normal;
                text-transform: capitalize;
                font-size: 23px;
                
                @include media(normal)
                {
                    &{
                        font-size:19px;
                    }
                }
            }
        }
}
   .view__list
    {
        width: 110px;
    }   
}

.sub-form-group
{
    select.form-control
    {
        background-position: 92% 50%;
    }
}


.apply__leave__main
{
    max-width:752px;
    
    @include media(normal)
    {
        &{
            max-width:550px;
        }
    }
    
    .upload_filed
    {
        position: relative;
        .attached__field
        {
            padding-right: 50px;
        }
    }
    .file-upload-button
    {
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    left: 0;
    width: 100%;
        @include border-radius(50px);
        border:0;
        cursor: pointer;
    }
}

.btns_main
{
    margin-top:72px;
    
    @include media(normal)
    {
        &{
            margin-top: 40px;
        }
    }
    
    a.btn
    {
        margin-right: 30px;
        
        &:last-child 
        {
            margin-right: 0; 
        }
    }
}



/*profile page css*/
.profile__main {
    max-width: 1220px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
     @include media(normal)
                {
                    &{
                        width: 800px;
                    }
                }
    

.profileBox {
 width:230px;
    margin-right: 60px;
    
      @include media(normal)
                {
                    &{
                        width: 200px;
                    }
                }
    
    .fileContainer {
        width:230px;
        height: 230px;
        position: relative;

        @include media(normal)
        {
            &{
                width:150px;
                height: 150px;
            }
        }
        
        figure {
             width: 230px;
            height:230px;
            @include border-radius(100%);
            @include background(center center , cover);

              @include media(normal)
                {
                    &{
                        width:150px;
                        height: 150px;
                    }
                }
            
            img {
                @include border-radius(100%);
                width: 100%;
                height: 100%;
                max-width: initial;
                position: absolute;
                top: -100%;
                bottom: -100%;
                left: -100%;
                right: -100%;
                margin: auto;
            }
        }
        .uploadButton {
            position: absolute;
            top: auto;
            bottom:-10px;
            right: 0;
            width: 64px;
            height: 64px;
            background-color: $whiteColor;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;
            -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
            @include transition(all ease-in-out 0.3s);
            &:hover
            {
                background-color: $lightBrownType;
            }
             @include media(normal)
                {
                    &{
                        width: 40px;
                        height: 40px;
                        padding:10px;
                        bottom: 0;
                        right: 10px;
                    }
                }
        }

        input[type="file"] {
            opacity: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            cursor: pointer;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
    }
}
    .apply__leave__form {

    width: 100%;
    max-width: 600px;
    
      @include media(normal)
        {
            &{
              max-width: 500px;
            }
        }
     }
    &.profile__view_main
    {
        max-width: 900px;
        
        @include media(normal)
        {
            &{
                max-width: 700px;
            }
        }
    }
}

.profile__view__bx
{
    position: relative;
    padding-top: 20px;
    
    .edit_btn
    {
        position:absolute;
        top: 0;
        right: -26px;
        font-size: 32px;
        font-weight: normal;
        border-bottom: 2px solid $btnBrownColor;
        color: $btnBrownColor;
        
        &:hover
        {
            color: $lightBrownType;
              border-color:$lightBrownType;
        }
        
        @include media(normal)
        {
            &{
                right: -20px;
                font-size: 26px;
            }
        }
    }
    table
    {
        width: 100%;
        table-layout: fixed;
     tr
        {
            display: flex;
            margin-bottom: 25px;
            
             @include media(normal)
                {
                    &{
                       margin-bottom: 15px;
                    }
                }
        }
        
        th 
        {
            width: 40%;
        }
        td
        {
            width: 60%;
        }
    }
}


.site__manege__main
{
   table
    {
        &.table_main 
      {
        thead
        {
            border-top: 0;
        }  
          
          th,
          td
          {
              &:nth-child(3)
              {
                  width: 220px;
              }
              &:nth-child(4)
              {
                  width: 370px;
              }
              &:nth-child(5)
              {
                  width: 250px;
              }
          }
      }
    }
}

.rating__star
{
    text-align: center;
    
    h3
    {
        font-size:23px;
        font-family:$futuraPT__WM;
        color: $h1Color;
        margin-top: 10px;
        
        @include media(normal)
            {
                &{
                    font-size: 20px;
                }
        }
    }
    
}
.salon__main
{
.salon__rating__main
{
    margin-bottom:74px;
    
    @include media(normal)
    {
        &{
            margin-bottom: 50px;
        }
    }
    
    .pro__left
    {
        .staff__profile__pic
        {
            @include media(normal)
            {
                &{
                    width: 140px;
                    height: 140px;
                }
            }
        }
        .profile__detail
        {
            width: calc(100% - 200px);
        }
    }
}
    .site__manege__main
    {
        padding: 0;
        
        table
        {
            thead,
            tbody
            {
                padding: 0 48px;
                
                @include media(normal)
                { 
                    &{
                        padding:0 28px;
                    }
                }
            }
        }
    }
}

.date_filed_main
{
    max-width:50%;
    
    .double_form_group
    {
        .sub-form-group
        {
            width: 49%;
        }
    }
}

.pro_option_list_outr 
{
    display: flex;
    margin-top: 38px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    
        @include media(normal)
                { 
                    &{
                         margin-top: 28px;
                    }
                }
    
    .checkbox {
        
       max-width: 23.5%;
    width: 100%;
  margin-right: 2%; 
        
        &:nth-child(4n + 4)
        {
            margin-right: 0;
        }
        
        span.new-checkbox
        { 
            margin-right: 18px;
            
             @include media(normal)
                { 
                    &{
                        margin-right: 12px;
                    }
                }
            
        }
}
}
.profomance_option_bx
{
    .btn__outer
    {
        margin-top:50px;
        
        @include media(normal)
                { 
                    &{
                        margin-top:30px;
                    }
                }
    }
}

.performance_inn
{
    margin-top: 23px;
    display: inline-block;
    width: 100%;
    
    @include media(normal)
                { 
                    &{
                         margin-top: 10px;
                    }
                }
}

.profomance_graph
{
    margin-top: 122px;
    
            @include media(normal) 
                { 
                    &{
                             margin-top: 50px;
                        }
                    }
img
    {
        @include media(normal) 
                { 
                    &{
                            max-width: 360px;
                        } 
                    }
                }
    
}

/*rating review css*/

.review__list
{
    border-bottom: 1px dotted;
    padding-bottom: 44px;
    margin-bottom: 40px;
 
           @include media(normal)
        {
            &{
                 padding-bottom: 24px;
    margin-bottom: 20px;
            }
        }
    
    &:last-child
    {
            border-bottom: 0;
    padding-bottom:0;
    margin-bottom: 0;
    }
    h3
    {
        font-size:23px; 
        font-family: $futuraPT__WBook;
        margin: 20px 0;
        
        @include media(normal)
        {
            &{
                font-size: 18px;
                   margin: 16px 0;
            }
        }
    }
    
    .rating__star {
    display: flex;
    align-items: center;
    justify-content: flex-start;
        
        img
        {
            max-width: 100px;
        }
        h3
        {
            margin:0 0 0 15px;
            font-family: $futuraPT__WM;
        }
}
}

.create__employee__list__inn
{
    select
    {
        &.form-control
        {
            background-position: 93% 50%;
        }
    }
}

.create__employee__list
{
    border-bottom: 1px dotted $primaryColor; 
    padding-bottom:48px;
    margin-bottom: 42px;
    
     @include media(normal)
        {
            &{
                padding-bottom: 26px;
                margin-bottom: 28px;
            }
        }
    
    &:last-child
    {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom:0;
    }
    
    h2
    {
        margin-bottom: 28px;
        
        @include media(normal)
        {
            &{
                 margin-bottom: 18px;
            }
        }
    }
}

.create__employee__list__inn
{
    .pro_option_list_outr
    {
        width: 100%;
        margin-top: 30px;
        
        .checkbox
        {
            margin-bottom: 38px;
        }
    }
}
.create__task__main
{
  .create__tast__inn
    {
        max-width: 1210px;
        
        @include media(normal)
        {
            &{
                max-width:800px;
            }
        }
        
        .sub-form-group 
        {
           select.form-control
            {
                background-position: 95% 50%;
            }
        }
        
        .sub__four__field
        {
          select.form-control
            {
                background-position: 89% 50%;
            }  
        }
    }
}

.create__tast__list
{
    margin-bottom: 43px; 
    
    @include media(normal)
    {
        &{
            margin-bottom: 25px;
        }
    }
    
    &:last-child
    {
        margin-bottom: 0;
    }
    h3
    {
        font-size:20px;
        font-family: $futuraPT__WM;
        color:$h1Color;
        letter-spacing: 0.060em;
        text-transform: uppercase;
        margin-bottom: 15px;
        
         @include media(normal)
            {
                &{
                   font-size:18px;
                }
            }
    }
    .date_icon
    {
        background-position: 96% 50%;
    }
}
.create__tast__accordion
{
    .card
    {
        border: 0;
        display: inline-block;
        width: 100%;
        margin-bottom: 21px;
        
        .header__accordion
        {
            display: inline-block;
            position: relative;
            font-size: 20px;
            font-family: $futuraPT__WL;
            min-width: 84px;
            padding-right: 20px;
            cursor: pointer;
            
               @include media(normal)
                {
                    &{
                       font-size:18px;
                    }
                }
            
            &.collapsed
            {
                &:after
                {
                    @include transform(translateY(-50%) rotate(-90deg));
                }
            }
            
            &:after
            {
                content: '';
                position: absolute;
                top:50%;
                right: 0;
                bottom: 0;
                background-image: url(../images/angel__down.png);
                @include transform(translateY(-50%) rotate(0));
                width: 15px;
                height: 15px;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        
        &:last-child{
            margin-bottom: 0;
        }
        
        .tast__body
        {
             margin-top: 20px;
            .pro_option_list_outr
                {
                    margin: 0;
                } 
        }
    }
}



.task__detail__cumn
{
    display: inline-block;
    vertical-align: top;
    
    h3
    {
        font-size: 23px;
        font-family:$futuraPT__WBook;
        color:$h1Color;
        margin-bottom: 20px;
        
          @include media(normal)
            {
                &{
                     font-size: 20px;
                    margin-bottom: 14px;
                }
            }
    }
    
   p
    {
        margin-bottom: 13px;
        
         @include media(normal)
            {
                &{
                  margin-bottom: 10px;
                }
            }
    }
    
    &.task__detail__left {
        max-width: 62%;
        width: 100%;
        padding-right: 10px;
        border-right: 1px dotted $blackColor;
    }
    
    &.task__detail__right
    {
        max-width: 38%;
        width: 100%;
        margin-left: -4px;
        padding:0 0 0 40px; 
        
        .profile__detail {
    width: calc(100% - 160px);
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
            
            h3
            {
                margin-bottom: 12px;
            }
            @include media(normal)
            {
                &{
                     width: calc(100% - 110px);
                    padding-left: 20px;
                }
            }
}
    }
}

.task__detail__row
{
    .italic__text
    {
        font-family:$futuraPT__WM;
        font-size:20px; 
        color: $greyColor;
        
        @include media(normal)
        {
            &{
                font-size: 18px;
            }
        }
    }
    
    &.staff__member_note
    {
        margin:65px 0 0;
        
        .btn__outer
        {
             margin:65px 0 0;
        }
        
        @include media(normal)
        {
            &{
                margin:40px 0 0;
                
                .btn__outer
                {
                     margin:40px 0 0;
                }
            }
        }
    }
 }


.create__tast__accordion.task__management__acc
{
    .header__accordion
    {
        text-transform: uppercase;
        font-family: $futuraPT__WM;
        color: $h1Color;
    }
}
.task__manage__list
{
    border-bottom: 1px dotted   $blackColor;
    padding:0 0 50px;
    margin:0 0 50px;
    
    @include media(normal)
    {
        &{
             padding:0 0 30px;
             margin:0 0 30px;
        }
    }
    
    &:last-child
    {
        border-bottom:0;
    padding:0;
    margin:0; 
    }
}

.work__schedule__inn
{
    max-width: 1260px;
    width:100%;
    
    .short__checkbox
    {
        margin-top: 0;
    }
}

.work__schedule__row
{
    .btn__outer 
    {
        margin-top: 45px;
        
         @include media(normal)
            {
                &{
                     margin-top: 25px;
                }
            }
    }
}