/* Company Name: Imarkinfotech Pvt. Ltd.
   Designer name: Harwinder Singh
   Make of the date:13-8-2018
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body
{
    height: 100%;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    color: $primaryColor;
    background-color: #fff;
    line-height: 1;
    padding: 0 !important;
    overflow: hidden;
    font-weight: normal;
    font-family: $futuraPT__WL;

    &.customize-support {
        header {
            top: 32px;

            @include media(iPad) {
                & {
                    top: 46px;
                }
            }

            @include media(mobile-s) {
                & {
                    top: 46px;
                }

                &.stick {
                    top: 0;
                }
            }

        }
    }
}


body.modal-open {
    overflow: hidden !important;
}

.modal-open {
    overflow-y: scroll !important;
}

ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
{
    letter-spacing: 0.06em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2
{
    font-size:30px;
    color: $h1Color;
    letter-spacing: 0.060px;
    line-height: 1.5;
    font-family: $futuraPT__WM;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: normal;
    
     @include media(normal)
    {
      &{
          font-size: 22px;
      } 
    }
}

ul li,
p {
    font-size: 20px;
    color: $primaryColor;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.050em;
    font-family: $futuraPT__WL;

    @include media(normal)
    {
      &{
          font-size: 17px;
      }
    }
}
th,
td
{
     letter-spacing: 0.060em;
     font-size: 20px;
    font-weight: normal;
    
    
       @include media(normal)
        {
         &{
          font-size: 15px;
         }
}
}
th
{
    font-family: $futuraPT__WM;
    color: $h1Color;
}
td
{
    color: $primaryColor;
    font-family: $futuraPT__WL;
}

a {
    @include transition(all ease-in-out 0.5s);
}

.fa
{
  &.fa-angle-down
    {
        color: $lightBrownType;
        font-size: 16px;
    }
}


a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    margin-bottom: 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
    outline: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

select.form-control
{
   cursor: pointer;
    background-image:url(../images/angel__down.png);
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-size: 13px 7px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
     height:58px !important;
    padding-right: 42px;
    
    @include media(normal)
    {
        &{
           height:48px !important;
        }
    }
}



.wpcf7-response-output {
    padding: 15px !important;
    margin: 0 !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    font-size: 15px;

    @include media(iPadLand) {
        & {
            font-size: 13px;
            padding: 10px !important;
        }
    }
}

.wpcf7-validation-errors,
.wpcf7-acceptance-missing {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.wpcf7-mail-sent-ok {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

input.wpcf7-not-valid {
    border-color: #f00 !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

.modal-backdrop.in {
    opacity: .7;
}

section .overlay
{
    padding: 62px 0;

    @include media(normal) {
        & {
            padding: 40px 0;
        }
    }
    @include media(iPadLand) {
        & {
            padding: 40px 0;
        }
    }

    @include media(mobile) {
        & {
            padding: 25px 0;
        }
    }

}
.btn {
    padding: 0 60px 0;
    text-align: center;
    @include border-radius(50px);
    line-height: 2.5;
    font-size: 18px;
    color: $whiteColor;
    font-family:$futuraPT__WM;
    font-weight: normal;
    letter-spacing: 0.050em;
    text-transform:uppercase;
    @include transition(box-shadow 0.2s ,all ease-in-out 0.5s);
    background-color: $btnBrownColor;
    -webkit-box-shadow: 2px 9px 24px rgba(122, 118, 82, 0.75);
    -ms-box-shadow: 2px 9px 24px rgba(122, 118, 82, 0.75);
    -moz-box-shadow: 2px 9px 24px rgba(122, 118, 82, 0.75);
    box-shadow: 2px 9px 24px rgba(122, 118, 82, 0.75);

    &:hover,
    &:focus
    {   
      outline: 0;
        background-color: $lightHoverBg;
        color: $textBrown;
    }

    @include media(normal)
    {
      &{
        padding:2px 30px 0;
      font-size: 16px;
          line-height: 2;
         }
    }
}

.reject_btn
{
    background-color:$lightBrownType;
    color: $h1Color;
    -webkit-box-shadow: 2px 9px 24px rgba(227, 214, 147, 0.71);
    -moz-box-shadow: 2px 9px 24px rgba(227, 214, 147, 0.71);
    box-shadow: 2px 9px 24px rgba(227, 214, 147, 0.71);
    
    &:hover,
    &:focus
    {
        background-color:rgba(255, 235, 138, 0.7019607843137254);
        color: $h1Color;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a3a3a3;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #a3a3a3;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #a3a3a3;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #a3a3a3;
}

select.form-control option:selected
{
    color: #a3a3a3;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #a3a3a3;
}


input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {
    color: #a3a3a3;
}


input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    color: #a3a3a3;
}


input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder {
    color: #a3a3a3;
}

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none
}

.form-control
{
    @include border-radius(50px);
    border:1px solid $borderColor;
    font-size: 20px;
    font-family:$futuraPT__WL;
    padding:6px 34px;
    height:58px;
    box-shadow: none;
    color: $primaryColor;
    
    &:hover,
    &:focus
    {
        box-shadow: none;
        border-color:$btnBrownColor; 
    }
    
    @include media(normal)
    {
        &{ 
            height:48px;
            font-size: 17px;
            padding:6px 24px;
        }
    }
}

.form-group
{
    margin-bottom: 18px;
}


/*custom checkbox*/


.checkbox label
{
    margin-bottom: 0;
}
 input[type=checkbox],
{
    display: none;
}

.checkbox label {
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.060em;
    position: relative;
    padding-left: 38px;
    
    @include media(normal)
    {
        &{
            font-size: 17px;
             padding-left: 28px;
        }
    }
}

 span.new-checkbox {
    background: #fff;
    border: solid 2px $btnBrownColor;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 0px;
    margin-left: 0px;
    top: 0px;
    position: absolute;
    left: 0;
     
       @include media(normal)
        {
         &{
            width: 16px;
            height: 16px;  
         }
        }
}

 input[type=checkbox]:checked + span.new-checkbox {
    background-color: $btnBrownColor;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-color: $btnBrownColor;
     
     @include media(normal)
        {
         &{
            width: 16px;
            height: 16px;  
         }
        }
}

 input[type=checkbox]:checked + span.new-checkbox:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    background: transparent;
    top: 4px;
    left: 2px;
    border: 2px solid $whiteColor;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
     
       @include media(normal)
        {
         &{
            width: 12px;
            height: 6px;
            top: 2px;
            left: 0px;
         }
        }
}


table.table_main
{
            th,
            td
        {
             padding: 25px 10px;
            
              @include media(normal)
            {
                &{
                    padding: 15px 10px;
                }
            }
            
             &:first-child
            {
                padding-left: 0;
            }
        }
    thead 
    {
            border-top:2px solid $borderColor;
            border-bottom: 2px solid $borderColor;
            display: inline-block;
            width: 100%;
        
           th
                {
                    text-transform: uppercase;
                } 
          }
   tbody
        {
            display: inline-block;
            width: 100%;
            
            tr
            {
                border-bottom: 1px dotted $blackColor;
                display: inline-block;
                width: 100%;
                
                &:last-child
                {
                    border-bottom: 0;
                }
            }
            
           
        }
}
.form-group
{
    &.double_form_group 
    {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}

.sub-form-group {

    width: 49%;
    margin-right: 2%;
    
    &:last-child
    {
        margin-right: 0;
    }
}

.sub__four__field {
    width: 23.5%;
    margin-right: 2%;
    
     &:last-child
    {
        margin-right: 0;
    }
}
.date_icon
{
    background-image: url(../images/date__icon.png);
    background-position:93% 50%;
    background-size:20px 20px;
    background-repeat:no-repeat;
    padding-right: 50px;
}

.attached_icon
{
    background-image: url(../images/attached.png);
    background-position: 96% 50%;
    background-size: 15px 28px;
    background-repeat: no-repeat;
    padding-right: 50px;
}



.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.pro_option_list_outr 
{
   &.close_checkbox 
    {
    .checkbox
        {
            max-width: 16%;
            margin-top: 20px;

            &:nth-child(4n + 4)
            {
                margin-right: 2%;
            }

            &:nth-child(5n + 5)
            {
                margin-right: 0;
            }
            
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5)
            {
                margin-top: 0;
            }
        }
    } 
}

.italic__text
{
    font-style: italic;
}

     .sub-form-group 
        {
           select.form-control
            {
                background-position: 95% 50%;
            }
        }
        
        .sub__four__field
        {
          select.form-control
            {
                background-position: 89% 50%;
            }  
        }
