/*staff css*/
.status__line
{
    h3
    {
        font-size: 23px;
        font-family:$futuraPT__WL;
        color:$h1Color;
        
        span
        {
            font-family: $futuraPT__WBook;
        }
        
        @include media(normal)
        {
            &{
                  font-size: 20px;
            }
        }
    }
}