$primaryColor: #272727;

$blackColor:#000;

$whiteColor:#fff;

$btnBrownColor:#7a7652; 

$h1Color:#3b3b3b;

$lightBrownType:#e3d693;

$lightHoverBg:#e3d693;

$greyBg:#f7f7f7;

$textBrown:#92874f;

$borderColor:#e7d89f;

$dashHoverColor:#4f4f4f;

$greyBorder:#e5e3e3; 

$greyColor:#747474;

/*font families*/
$futuraPT__WBook:'FuturaPT-Book';

$futuraPT__WL:'FuturaPT-Light';

$futuraPT__WM:'FuturaPT-Medium';

$futuraPT__WB:'FuturaPT-Bold';

