//login page css start

.pattern_bg
{
    background: url(../images/flower__pattern.png) center top;
    background-size: cover;
}

.login__main__wraper
{
    min-height:calc(100% - 55px);
    display: inline-block;
    width: 100%;
    padding: 40px 0 0;
    
    @include media(normal)
    {
        &{
             padding: 20px 0 0;
        }
    }
}

.form__auto
{
    max-width: 750px;
    width: 96%;
    margin:0 auto 95px;
    display: block;
    text-align: center;
    
     @include media(normal)
        {
            &{
               max-width: 570px;
                    margin:0 auto 20px;
            }
        }
    
    figure
    {
        &.login__logo
    {
        text-align: center;
          margin: 0 0 40px;
        
        a
        {
            display: inline-block;
        }
        
        @include media(normal)
        {
            &{
                margin-bottom: 20px;
                    
                img
                {
                    width: 110px;
                }
            }
        }
    }
    }
} 

.form__style__bx
{
    background-color: $whiteColor;
    padding:30px 76px 64px;
    -webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    margin-bottom: 48px;
    
    @include media(normal) 
    { 
        &{
            padding:20px 46px 25px;
            margin-bottom: 20px;
        }
    } 
    
   
    .need__help
    {
        text-align: right;
        color: $textBrown;
        margin: 20px 0 0;
        
        a
        {
            color: $textBrown;
            
            &:hover
            {
                color: $lightHoverBg;
            }
        }
        
          @include media(normal)
            {
                &{
                    margin: 10px 0 0;
                }
            }
        
    }
}
.login__footer
{
    p
    {
        a
        {
            font-family: $futuraPT__WM;
            color: $textBrown;
            
            &:hover
            {
                color: $lightHoverBg;
            }
        }
    }
}



.forgot__pass__page
{
    .main__head__title
    {
        margin-bottom: 50px;
        @include media(normal)
        {
            &{
                margin-bottom: 30px;
            }
        }
    }
   
    .form__style__bx 
        {
            padding:47px 76px 34px;
            
            .form-group
            {
                width:100%;
                display:inline-block;
            }
            .form__button 
            {
                margin-top: 40px;
                
                @include media(normal)
                    {
                        &{
                            margin-top: 20px;
                        }
                    }
            }
            
            .login__page_btn
            {
                margin-top:28px;
                display: inline-block;
                
                @include media(normal)
                    {
                        &{
                            margin-top: 10px;
                        }
                    }
                
                img
                {
                    display: inline-block;
                    position: absolute;
                    left: -8px;
                    top: 50%;
                    margin-top: 2px;
                    @include transform(translateY(-50%));
                      @include transition(all ease-in-out 0.5s);
                }
                
                color:$textBrown;
                font-size:20px;
                font-family:$futuraPT__WM;
                letter-spacing: 0.060em;
                position: relative;
                padding: 0 0 0 23px;
                
                &:after
                {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                left: 23px;
                background-color: #92874f;
                width: 68%;
                height: 1px;
                    @include transition(all ease-in-out 0.5s);
                }
                
                &:hover
                {
                    color: $lightHoverBg;
                    
                     img
                    {
                        left: -12px;
                    }
                     &:after
                    {
                        top:100%;
                       opacity: 0;
                    }
                }
            }
        } 
}

 .brown_btn
    {
        min-width:176px;
        
        @include media(normal)
            {
                &{
                   min-width:135px;
                }
            }
    }

/*dashboard__css*/
.dashboard__main__wraper
{
    height: 100%;
}


.dashboard__left__main
{
    background-color: $btnBrownColor;
    width: 16.7%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    
    
    @include media(normal)
    {
        &{
            width:20%;
        }
    }
    
}
.dashboard__logo
{
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    min-height: 120px;
    
         @include media(normal)
                {
                    &{
                     min-height: 105px;
                    }
                }
    
    a
    {
        width: 100px;
        height: 100px;
        display: inline-block;
        
          @include media(normal)
                {
                    &{
                        width: 80px;
                        height: 80px;
                    }
                }
    }
}
.dashboard__left_heading
{
    padding:28px 20px 28px 36px;
    
    @include media(normal)
    {
        &{
            padding: 20px;
        }
    }
    
    h1
    {
        color: $whiteColor;
        letter-spacing: 0.060em;
        margin: 0;
    }
}
.dashboard__menulist
{
    ul
    {
        li
        {
            a
            {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                display: block;
                color:$whiteColor;
                font-size: 18px;
                font-family: $futuraPT__WBook;
                text-transform: uppercase;
                padding:16px 20px 16px 38px;
                
                span
                {
                    &.svg__bx
                    {
                         width:22px;
                        height:22px;
                         margin-right: 14px;
                        display: inline-block;
                    }
                }
                 svg
                {
                    &.dashboard__svg
                    {
                        fill:$lightHoverBg;
                        width:22px;
                        height:22px;
                        @include transition(all ease-in-out 0.5s);
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        top: -2px;
                    }
                    
                    &#dashboard__svg__1
                    {
                        width: 14px;
                        height: 18px;
                    }
                }
                
                
                @include media(normal)
                {
                    &{
                        font-size: 15px;
                        padding: 14px 20px;
                    }
                }
                
               
                &:hover,
                {
                    background-color: $lightHoverBg;
                    color: $dashHoverColor;
                    
                       svg
                {
                    &.dashboard__svg
                    {
                        fill:$btnBrownColor;
                    }
                    }
                }
            }
            &.active > a
            {
                 background-color: $lightHoverBg;
                    color: $dashHoverColor;
                    
                       svg
                {
                    &.dashboard__svg
                    {
                        fill:$btnBrownColor;
                    }
                    }
            }
        }
    }
}

.dashboard__right__main
{
    width: 100%;
    max-width: 83.3%;
    margin-left: 16.7%;
    background-color: $greyBg;
    height: 100%;
        
    
     @include media(normal)
    {
        &{
           max-width: 80%;
            margin-left: 20%;
        }
    }
    
        .dashboard__right__header
        {
             border-bottom: 1px solid #e3e3e4;
            min-height: 120px;
            display: flex;
            justify-content: flex-end;
            padding:31px 40px 32px 30px;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            background-color:$greyBg;
             max-width: 83.3%;
             width: 100%;
            z-index: 9;
            
              @include media(normal)
                {
                    &{
                       max-width: 80%;
                         min-height: 105px;
                       padding: 10px 40px 10px 30px;
                    }
                }
            
            
//  header search
   
    .searchBar__main
     {
         width: 100%;
         max-width: 477px;
         position: relative;
         margin-right: 143px;
         
         
         @include media(normal)
         {
             &{
                max-width: 370px;
                margin-right: 50px;
             }
         }
         
         .form-control
         {
             border-color: #dedddd;
             background-color: transparent;
             font-size: 16px;
             font-family:$futuraPT__WM;
             letter-spacing: 0.06em;
             padding-right: 75px;
             
             &:focus
             {
                 border-color: $lightBrownType;
                 &+.search__btn
                 {
                     background-color: $lightBrownType;
                     color: $whiteColor;
                     
                 &:hover,
                &:focus
                {
                     background-color: $textBrown;
                     color: $whiteColor;
                }
                 }
             }
         }
         .search__btn
            {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border: 0;
                width: 65px;
                cursor: pointer;
                color: $lightBrownType;
                font-weight: normal;
                font-size: 20px;
                background-color: transparent;
                @include transition(all ease-in-out 0.5s);
                
                &:hover,
                &:focus
                {
                     background-color: $textBrown;
                     color: $whiteColor;
                }
                
                 @include media(normal)
                 {
                     &{
                        font-size: 16px;
                     }
                 }
         }
     }
            
            
//   header user profile
            .dashboard__header__user
            {
                display: flex;
                align-items: center;
                justify-content: flex-end;
               
                
                .user__profile
                {
                    width: 60px;
                    height:60px;
                    @include border-radius(100%);
                    @include background(center center , cover);
                    margin-right: 20px;
                    
                    @include media(normal)
                    {
                        &{
                        width: 50px;
                        height:50px;
                        }
                    }
                }
                .user__name
                {
                    font-size: 16px;
                    font-family:$futuraPT__WM;
                    color: #3b3b3b;
                    display: flex;
                    align-items: center;
                     .dropdown-menu
                    {
                        left: auto !important;
                        right: 0;
                        -webkit-transform: translate3d(0, 57px, 0px) !important;
                        -moz-transform: translate3d(0, 57px, 0px) !important;
                        transform: translate3d(0, 57px, 0px) !important;
                        min-width: 275px;
                        border-radius: 0;
                        padding:5px 30px;
                        -webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
                        box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
                        border:0;
                        
                        @include media(normal)
                        {
                            &{
                                min-width: 220px; 
                            }
                        }
                 
                        
                        &:before
                        {
                            content: '';
                            position: absolute;
                            top: -8px;
                            right: 16px;
                            width: 16px;
                            height: 16px;
                            background-color: $whiteColor;
                            transform: rotate(45deg);
                        }
                        .dropdown-item
                        {
                            font-size: 20px;
                            font-family:$futuraPT__WL;
                            padding:25px 0;
                            border-bottom: 1px dotted $blackColor;
                            
                            @include media(normal)
                            {
                                &{
                                    font-size: 16px;
                                    font-family: "FuturaPT-Light";
                                    padding: 15px 0;
                                }
                            }
                            
                            &:last-child
                            {
                                border-bottom: 0;
                            }
                            
                            &:hover
                            {
                                color: $lightBrownType;
                                border-color:$lightBrownType; 
                                background-color: transparent;
                            }
                            
                        }
                    }
                }
                .user__dropDown
                {
                    margin-left: 18px;
                    
                     @include media(normal)
                    {
                        &{
                       margin-left: 10px;
                        }
                    }
                    
                    .fa
                    {
                        font-size: 26px;
                        @include transition(all ease-in-out 0.5s);
                    }
                    
                    &:hover
                    {
                        .fa{
                          color:$btnBrownColor;   
                        }

                    }
                    
                    &.dropdown-toggle
                    {
                        &:after
                        {
                            display: none;
                        }
                    }
                }
                }
         }
}


.main__title
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom:20px;
    
//    @include media(normal)
//    {
//        &{
//            margin-bottom: 10px;
//        }
//    }
    
    h1
    {
        width:calc(100% - 200px);
        display: inline-block;
        margin-bottom:0;
    }
    
    .title__btn
    {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


.dash__rt__inn_main
{
    padding:25px 40px 0 30px;
    margin-top: 120px;
    height: calc(100% - 120px);
    overflow-y: auto;
    
      @include media(normal)
            {
                &{
                     margin-top: 105px;
                       height: calc(100% - 105px);
                }
            }
}
.comman__shadow__bx
{
    background-color: $whiteColor;
    -webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
    padding:58px;
    margin-bottom: 100px;
    
    @include media(normal)
    {
        &{
            padding:40px;
             margin-bottom: 50px;
        }
    }
}
.coman__list
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px dotted $blackColor;
    padding-bottom:40px;
    margin-bottom: 40px;
    
    @include media(normal)
            {
                &{
                    padding-bottom:20px;
                    margin-bottom: 20px;
                }
            }
    
    &:last-child
    {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }
    
    figure
    {
        width:150px;
        height: 150px;
        @include border-radius(20px); 
         @include background(center top, cover);
        display: inline-block;
        
         @include media(normal)
            {
                &{
                    width:100px;
                    height: 100px;
                }
            }
    }
    .coman__list_content
    {
        width: calc(100% - 160px);
        display: inline-block;
        padding:10px 0 0 45px;
        
          @include media(normal)
            {
                &{
                    padding-left:25px;
                }
            }
        
        h3
        {
            font-size: 20px;
            color: $h1Color;
            text-transform: uppercase;
            font-family: $futuraPT__WM;
            letter-spacing: 0.06em;
            margin-bottom: 17px;
            
             @include media(normal)
            {
                &{
                    font-size: 17px;
                    margin-bottom: 7px;
                }
            }
        }
        p
        {
         margin-bottom: 10px;
            
            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}


/*privacy page css*/ 

.Privacy__policy_main
{
 h3
        {
            font-size: 20px;
            color: $h1Color;
            text-transform: uppercase;
            font-family: $futuraPT__WM;
            letter-spacing: 0.06em;
            margin:16px 0 17px;
            display: inline-block;
            width: 100%;
            
            &:first-child
            {
                margin-top: 0;
            }
            
             @include media(normal)
            {
                &{
                    font-size: 17px;
                    margin-bottom: 7px;
                }
            }
        }
        p
        {
         margin-bottom: 28px;
            
            &:last-child
            {
                margin-bottom: 0;
            }
        }
    ul
    {
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        
        li
        {
            margin-bottom: 18px;
            position: relative;
            padding-left:25px;
            
            &:before
            {
                content: '';
                position: absolute;
                top: 12px;
                left: 0;
                width: 8px;
                height: 8px;
                @include border-radius(100%);
                background-color: $btnBrownColor;
            }
            
            @include media(normal)
            {
                &{
                    margin-bottom: 10px;
                }
            }
            
            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}

.change__password__main
{
    max-width: 908px;
    
    @include media(normal)
    {
        &{
            max-width:700px; 
        }
    }
}
.change__pass_inn
{
    max-width: 588px;
     
    @include media(normal)
    {
        &{
            max-width:450px; 
        }
    }
}

.btn__outer
{
    margin-top:15px;
    display: inline-block;
    width:100%;
}


.manager_history_main
{
    
    .task__coman__bx
    {
        table
        {
            &.table_main
            {
                width: 1413px;
                 th,
                 td
                {
                    &:first-child
                    {
                    width: 80px;
                    }

                    &:nth-child(2)
                    {
                     width: 180px;
                    }
                    &:nth-child(3)
                    {
                        width: 110px;
                    }
                    &:nth-child(4)
                    { 
                            width: 150px;
                    }
                    &:nth-child(5)
                    {
                        width: 150px;
                    }
                    &:nth-child(6)
                    {
                        width: 150px;
                    }
                    &:nth-child(7)
                    {
                        width: 150px;
                    }
                    &:nth-child(8)
                    {
                        width: 200px;
                    }
                    &:nth-child(9)
                    {
                        width: 240px;
                    }
                }
            }
        }
    }
    
   
}

.dashboard__menulist {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}
.dash__rt__inn_main
{
    padding-left: 0;
     padding-right:0;
    
     .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
    .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
{
    background-color: $btnBrownColor;
}
    
    .mCSB_container
    {
        padding-left: 30px;
        padding-right: 40px;
    }
    
    .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal
    {
        bottom: -20px;
    }
    
}
.dataTables_paginate,
.dataTables_filter,
.dataTables_length
{
    display: none;
}
.comman__shadow__bx 
{
     .mCSB_container
    {
        padding-left: 0;
         padding-right:0;
    }
}
